ClientApp/ClientApp/Connected Services/FlightService/AirportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60247/AirportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_00010358_Service" />
  <xs:element name="InsertFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_00010358_Service" minOccurs="0" name="flight" nillable="true" type="q1:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>